.remodelar {
    width: 200px;
    height: 200px;
}

body {
    background-color: rgb(91, 91, 91);
    color: rgb(213, 213, 213);
}

.negrito {
    color: rgb(0, 21, 255);
    font-weight: bold;
}

h1 {
    color: rgb(13, 0, 157);
}

h3 {
    color: rgb(0, 3, 157);
}

a {
    color: darkblue;
    text-align: center;
}

a:visited {
    color: rgb(0, 229, 255);
}

hr {
    height: 3px;
    background-color: inherit;
    border: none;
    color: inherit;
    border: none;
    border-top: 5px dotted rgb(0, 0, 0);
    color: #fff;
    width: 25%;
}

th {
    color: rgb(0, 42, 255);
}

table {
    padding: 5px 10px;
    border: 1px;
}

.center {
    margin-left: auto;
    margin-right: auto;
    width: 8em;
}

.button {
    background-color: darkblue;
    border: none;
    color: white;
    padding: 10px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    border-radius: 50%;
    box-shadow: 0 5px rgb(32, 32, 32);
    margin-left: auto;
    margin-right: auto;
    width: 8em;
}

.button:hover {
    background-color: #0079fb
}

.button:active {
    background-color: #0079fb;
    box-shadow: 0 5px rgb(32, 32, 32);
    transform: translateY(4px);
}

.foto {
    width: 30%;
    float: left;
    padding: 20px;
    display: block;
}

.titulo {
    padding: 20px;
}

div.container {
    display: flex;
    border-bottom: 2px solid darkblue;
    justify-content: center;
}

div.secao {
    align-items: center;
    justify-content: center;
    display: flex;
}

.links {
    display: inline-block;
    padding: 50px;
}

img.logo {
    width: 100px;
    height: 100px;
    background-color: #00A39C;
    padding: 15px 15px;
    border-radius: 20%;
    box-shadow: 0 5px rgb(32, 32, 32);
}

img.logo:hover {
    background-color: #003b5c
}

img.logo:active {
    background-color: #00c5fb;
    box-shadow: 0 5px rgb(32, 32, 32);
    transform: translateY(4px);
}

img.sanfarma {
    width: 262px;
    height: 75px;
    background-color: white;
    padding: 20px 20px;
    border-radius: 10%;
    box-shadow: 0 5px rgb(32, 32, 32);
}

img.sanfarma:hover {
    background-color: #00c5fb;
}

img.sanfarma:active {
    background-color: #00c5fb;
    box-shadow: 0 5px rgb(32, 32, 32);
    transform: translateY(4px);
}